html {
	font-family: Oswald, Calibri;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
	text-shadow:
	0px 1px 1px #000000,
	1px 1px 1px #000000,
	1px 0px 1px #000000,
	1px -1px 1px #000000,
	0px -1px 1px #000000,
	-1px -1px 1px #000000,
	-1px 0px 1px #000000,
	-1px 1px 1px #000000;
	background-color: rgb(14,14,14);
}

::-webkit-input-placeholder { /* Chrome */
  color: #646464;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #646464;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #646464;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #646464;
  text-align: center;
  opacity: 1;
}

#main {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	box-shadow:
	0px 0px 15px #000000,
	0px 0px 52px #000000;
}
#mainback {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url('bg/background.jpg');
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	-webkit-filter: brightness(1) saturate(1.4) contrast(1.3);
	-moz-filter-: brightness(1) saturate(1.4) contrast(1.3);
	-o-filter-: brightness(1) saturate(1.4) contrast(1.3);
	-ms-filter-: brightness(1) saturate(1.4) contrast(1.3);
}

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
	-webkit-filter: brightness(1) saturate(1.4) contrast(1.1) blur(15px);
	-moz-filter-: brightness(1) saturate(1.4) contrast(1.1) blur(15px);
	-o-filter-: brightness(1) saturate(1.4) contrast(1.1) blur(15px);
	-ms-filter-: brightness(1) saturate(1.4) contrast(1.1) blur(15px);
}

#cont {
	position: fixed;
	top: 0px;
	left: 10px;
}

a:link, a:visited, a:active {
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
	text-shadow:
	0px 1px 1px #000000,
	1px 1px 1px #000000,
	1px 0px 1px #000000,
	1px -1px 1px #000000,
	0px -1px 1px #000000,
	-1px -1px 1px #000000,
	-1px 0px 1px #000000,
	-1px 1px 1px #000000;
}
a:hover {
	color: #008899;
	text-decoration: none;
}



.logo {
	transition: 2s;
	-webkit-filter: brightness(1) saturate(1) contrast(1) drop-shadow(0px 0px 1px rgba(0,0,0,255)) drop-shadow(0px 0px 5px rgba(0,0,0,255)) opacity(0.9);
	-moz-filter-: 
	-o-filter-: 
	-ms-filter-: 
}   
    
.logo:hover {
	-webkit-filter: brightness(1) saturate(1.4) contrast(1.1) drop-shadow(0px 0px 50px #0000FF) drop-shadow(0px 0px 20px #FF00FF) opacity(1);
	-moz-filter-: brightness(1) saturate(1.4) contrast(1.1) drop-shadow(0px 0px 50px #0000FF) drop-shadow(0px 0px 20px #FF00FF) opacity(1);
	-o-filter-: brightness(1) saturate(1.4) contrast(1.1) drop-shadow(0px 0px 50px #0000FF) drop-shadow(0px 0px 20px #FF00FF) opacity(1);
	-ms-filter-: brightness(1) saturate(1.4) contrast(1.1) drop-shadow(0px 0px 50px #0000FF) drop-shadow(0px 0px 20px #FF00FF) opacity(1);
	transition: 0.5s;
}

.logo:active { 
	-webkit-filter: brightness(0) saturate(1.4) contrast(1.1) drop-shadow(0px 0px 50px #FF0000) drop-shadow(0px 0px 20px #FF8000) opacity(1);
	-moz-filter-: brightness(0) saturate(1.4) contrast(1.1) drop-shadow(0px 0px 50px #FF0000) drop-shadow(0px 0px 20px #FF8000) opacity(1);
    -o-filter-: brightness(0) saturate(1.4) contrast(1.1) drop-shadow(0px 0px 50px #FF0000) drop-shadow(0px 0px 20px #FF8000) opacity(1);
    -ms-filter-: brightness(0) saturate(1.4) contrast(1.1) drop-shadow(0px 0px 50px #FF0000) drop-shadow(0px 0px 20px #FF8000) opacity(1);
	transition: 0.05s;
}


.dbg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.logo:hover ~ .darken {
  background-color: rgba(0,0,80,55);
 -webkit-filter: opacity(0.1);
 -moz-filter-: opacity(0.1);
 -o-filter-: opacity(0.1);
 -ms-filter-: opacity(0.1);
  transition: 0.5s;
}
.logo:active ~ .darken {
  background-color: rgba(0,0,0,255);
 -webkit-filter: opacity(0.7);
 -moz-filter-: opacity(0.7);
 -o-filter-: opacity(0.7);
 -ms-filter-: opacity(0.7);
  transition: 0.3s;
}

.darken {
  position: fixed;
  background-color: rgba(0,0,0,0);
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
 -webkit-filter: opacity(0);
 -moz-filter-: opacity(0);
 -o-filter-: opacity(0);
 -ms-filter-: opacity(0);
  transition: 0.5s;
}
